{% extends 'base.html' %}

{% block title %}SIZZLE{% endblock %}

{% block content %}
    <div class="menu" id="feed">
        <div class="side_menu">
            <div class="genre">
                <h3>Жанры</h3>
                {% for i in all_genres %}
                    <p><a href="{% url 'feed_by_genre' i.id %}" id="genre_link">{{ i.name }}</a></p>
                {% endfor %}
            </div>
        </div>
        <div class="films">
            <div class="films" id="info">
                {% if genre %}
                    <h3> {{ genre }} </h3>
                    {% else %}
                    <h3>Все фильмы</h3>
                {% endif %}
            </div>
            {% for i in all_films %}
                <div class="film" id="{{ i.id }}">
                    <a href="{% url 'film' i.id %}" id="film_link">
                        <img src="{{ i.image.url }}" alt="{{ i.title }}">
                    </a>
                    <div class="text-overlay">
                        <h3>{{ i.title }}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock %}
