{% extends 'base.html' %}

{% block title %}
    {{ film.title }}
{% endblock %}

{% block content %}
    <div class="main">
        <div class="film">
            <div class="film" id="title">
                <h1>{{ film.title }}</h1>
                <p>{{ film.release_date.year }}</p>
            </div>
            <div class="film" id="info">
                <div class="film" id="thumbnail">
                    <img src="{{ film.image.url }}" alt="">
                </div>
                <div class="film" id="about">
                    <div class="film" id="description">
                        <p><b>Описание:</b></p>
                        <p>{{ film.description }}</p>
                    </div>
                    <div class="film" id="genres">
                    <p><b>Жанр:</b></p>
                        {% for i in film.genre.all %}
                            <p>{{ i }}</p>
                        {% endfor %}
                    </div>
                    <div class="film" id="duration">
                        <p><b>Продолжительность:</b> {{ film.length }} мин.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="player">
            <video id="player" controls></video>
        </div>
        <script src="//cdn.jsdelivr.net/npm/hls.js@1"></script>
        <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                var video = document.getElementById('player');
                var source = '{{ film.url }}';
                const defaulOptions = {};
                if (Hls.isSupported()){
                    const hls = new Hls();
                    hls.loadSource(source);
                    hls.on(Hls.Events.MANIFEST_PARSED, function(event, data){
                        const availableQualities = hls.levels.map((l) => l.height)
                        defaulOptions.controls= [
                            'play-large',
                            'rewind',
                            'play',
                            'fast-forward',
                            'progress',
                            'current-time',
                            'duration',
                            'mute',
                            'volume',
                            'captions',
                            'settings',
                            'pip',
                            'airplay',
                            'fullscreen',
                        ];
                        defaulOptions.quality = {
                            default: availableQualities[0],
                            options: availableQualities,
                            forced: true,
                            onChange: (e) => updateQuality(e)
                        }
                        defaulOptions.type = 'application/x-mpegURL;'
                        new Plyr(video, defaulOptions);
                    });
                    hls.attachMedia(video);
                    window.hls = hls;
                }
                function updateQuality(newQuality){
                    window.hls.levels.forEach((level, levelIndex) => {
                        if(level.height === newQuality){
                            window.hls.currentLevel = levelIndex
                        }
                    })
                }
            })
        </script>
    </div>
{% endblock %}

