{% extends 'base.html' %}

{% block title %}
    {{ film.title }}
{% endblock %}


{% block content %}
    <div class="main">
        <h4 id="title">{{ film.title }}</h4>
            <!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@1"></script> -->
    <!-- Or if you want the latest version from the main branch -->
        <script src="https://cdn.jsdelivr.net/npm/hls.js@canary"></script>
          <video id="video" controls></video>
    
          <!-- type="application/x-mpegURL" -->
    
            <script>
                var video = document.getElementById('video');
                {#var videoSrc = 'https://test-streams.mux.dev/x36xhzz/x36xhzz.m3u8';#}
                // var videoSrc = '/The_Equalizer_3/1920x1080p.m3u8';
                var videoSrc = 'https://storage.yandexcloud.net/s-sli.nnn/recrent/master.m3u8';
                
                //
                // First check for native browser HLS support
                //
                if (video.canPlayType('application/vnd.apple.mpegurl')) {
                  video.src = videoSrc;
                  //
                  // If no native HLS support, check if HLS.js is supported
                  //
                } else if (Hls.isSupported()) {
                  var hls = new Hls();
                  hls.loadSource(videoSrc);
                  hls.attachMedia(video);
                }
            </script>
    </div>
{% endblock %}

