@font-face {
	font-family: 'DaysSansBlack';
	src: url('../fonts/DaysSans/dayssansblack.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/DaysSans/dayssansblack.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/DaysSans/dayssansblack.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/DaysSans/dayssansblack.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/DaysSans/dayssansblack.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/DaysSans/dayssansblack.svg#dayssansblack') format('svg'); /* Chrome < 4, Legacy iOS */
}
/* ------------------------ MAIN ------------------------ */
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    margin-right: 10%;
    margin-left: 10%;
    background: -webkit-linear-gradient(90deg, #a2116f,#2e398e);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #a2116f,#2e398e);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: -webkit-linear-gradient(180deg, #f719a8,#3a48ac);!* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(180deg, #f719a8,#3a48ac);!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    display: flex;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

header p {
    font-size: 64px;
}

input {
    text-align: center;
    border: none;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    transition: background 1.5s ease;
}

button:active{
    transition: background 0.02s ease;
    background: #848484;
}

/* ------------------------------------------------------ */

.menu {
    background-color: #00000033;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.logo{
    display: flex;
    align-items: center;
}

#feed.menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
}

.menu li {
    transition: color 0.5s ease, font-size 0.5s ease;
    text-decoration: none;
    list-style-type: none;
}

.menu li:hover {
    transition: 0.5s;
    color: #ff70a0;
    font-size: 24px;
}

.menu .film{
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.menu .film img{
    width: 100%;
    height: 100%;
}

.film .text-overlay{
    text-shadow: 4px 4px 4px black;
    position:absolute;
    top:8px;
    left:16px;
    font-size:18px;
}

.menu p{
    flex-wrap: wrap;
}

form.authForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


a#film_link{
    width: 100%;
    height: 100%;
}

.film {
    display: flex;
}

.film#about {
    align-content: flex-start;
    flex-wrap: wrap;
}

.film#thumbnail{
    height: 300px;
    width: auto;
}
.main{
    width: 630px;
    height: auto;
}

.nav_bar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}