/* ------------------------ MAIN ------------------------ */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    margin-right: 10%;
    margin-left: 10%;
    background: #021E20;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

header p {
    font-size: 64px;
}

input {
    text-align: center;
    border: none;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    transition: background 1.5s ease;
}

button:active{
    transition: background 0.02s ease;
    background: #848484;
}

/* ------------------------------------------------------ */

.menu {
    background-color: #435454;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#feed.menu{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 15px;
}

.menu li {
    transition: color 0.5s ease, font-size 0.5s ease;
    text-decoration: none;
    list-style-type: none;
}

.menu li:hover {
    transition: 0.5s;
    color: #ff70a0;
    font-size: 24px;
}

.menu .film{
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.menu .film img{
    width: 100%;
    height: 100%;
}

.film .text-overlay{
    text-shadow: 4px 4px 4px black;
    position:absolute;
    top:8px;
    left:16px;
    font-size:18px;
}

.menu p{
    flex-wrap: wrap;
}

form.authForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


a#film_link{
    width: 100%;
    height: 100%;
}

.player{
    height: 400px;
}
