@font-face {
	font-family: 'DaysSansBlack';
	src: url('../fonts/DaysSans/dayssansblack.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/DaysSans/dayssansblack.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/DaysSans/dayssansblack.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/DaysSans/dayssansblack.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/DaysSans/dayssansblack.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/DaysSans/dayssansblack.svg#dayssansblack') format('svg'); /* Chrome < 4, Legacy iOS */
}

/* ------------------------ MAIN ------------------------ */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 36px;
}
h3 {
    font-size: 24px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    margin-right: 10%;
    margin-left: 10%;
    background: -webkit-linear-gradient(90deg, #a2116f,#2e398e);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #a2116f,#2e398e);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: -webkit-linear-gradient(180deg, #f719a8,#3a48ac);!* Chrome 10-25, Safari 5.1-6 *!*/
    /*background: linear-gradient(180deg, #f719a8,#3a48ac);!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

nav {
    display: flex;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

header p {
    font-size: 64px;
}

input {
    text-align: center;
    border: none;
    border-radius: 5px;
}

button {
    border: none;
    border-radius: 5px;
    background: #FFFFFF;
    transition: background 1.5s ease;
}

button:active{
    transition: background 0.02s ease;
    background: #848484;
}

/* ------------------------------------------------------ */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#feed.menu{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .films{
    background-color: #00000033;
    border-radius: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 5px;
    column-gap: 10px;
}
.menu .side_menu{
    display: flex;
    width: 25%;
    flex-direction: column;
}
.menu .side_menu .genre{
    display: flex;
    flex-direction: column;
}

.menu li {
    transition: color 0.5s ease, font-size 0.5s ease;
    text-decoration: none;
    list-style-type: none;
}

.menu li:hover {
    transition: 0.5s;
    color: #ff70a0;
    font-size: 24px;
}

.menu .film{
    width: 200px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.25);
}

.menu .film img{
    width: 100%;
    height: 100%;
}

.logo{
    display: flex;
    align-items: center;
}

/*.film .text-overlay{*/
/*    text-shadow: 4px 4px 4px black;*/
/*    position:absolute;*/
/*    top:8px;*/
/*    left:16px;*/
/*    font-size:18px;*/
/*}*/

.film .text-overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.menu p{
    flex-wrap: wrap;
}

form.authForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


a#film_link{
    width: 100%;
    height: 100%;
}

.film {
    display: flex;
    flex-direction: column;
}
.film#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.films#info {
    display: flex;
    flex-direction: row;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.film#info {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    background-color: #00000033;
    padding: 10px;
}

.film#about {
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.film#thumbnail img{
    height: 300px;
    width: 200px;
}
.main{
    width: 630px;
    height: auto;
}

.nav_bar{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.genre h3{
    border-bottom: solid #00000030 2.5px;
}

.genre a:hover {
    color: #8ab9ff;
}

.profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}